
/*body{
	background: linear-gradient(-45deg, #FA8072, #FFA07A, #F08080, #CD5C5C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}*/

*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a{
	text-decoration: none !important;
	
}
.guidedes1 span a{
	text-decoration: none;
	
}
.guidedes1 a{
	text-decoration: none;
	
}

.page-head{
	width: 100%;
    min-height: 30%;
    color: #fff;
  	background-repeat: no-repeat;
	background-size: 100% 104%;
    -webkit-backface-visibility: hidden;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	display: flex;
	flex-direction: column;
/*	padding: 5%*/
}

.cover{
	width: 100%;
	min-height: 30%;
	padding: 5%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
}

.head-content{
	/*margin-left: 2%;*/
}

.time{
	display: flex !important;
	flex-direction: column;
}

.fees{
	display: flex !important;
	flex-direction: column;
	margin-left: 3%;
}

.set-master{
	display: flex !important;
}

.head{
	
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 3px;
  text-transform: uppercase;
}

.deshead{
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 2%;
}

.deshead1{
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 2%;
	/*margin-left: 3%;*/
}

.destext{
	font-family: 'poppins', sans-serif;
	font-weight: 500;
  font-size: 25px;
	-webkit-animation: bounce .8s ease infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
      text-shadow:
                  0 2px 0 #ccc,
                  0 1px 1px rgba(0, 0, 0, 1);  
  }
  100% {
    transform:translateY(-5px);
    /*text-shadow:  0 50px 0 black,
                  0 0px 20px rgba(0, 0, 0, .8);*/
  }
}

.destext1{
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-size: 25px;
  -webkit-animation: bounce .8s ease infinite alternate;
	/*margin-left: 5%;*/
}

.guidehead{
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-size: 50px;
	margin-left: 2%;
	margin-top: 6vh;
	font-weight: 800;
}
.guidedes{
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	font-size: 30px;
	margin-left: 2%;
	margin-top: 5%;
	font-weight: 800;
}
.guidedes1{
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	text-transform: capitalize;
	font-size: 20px;
	width: 70%;
	margin-left: 2%;
	font-weight: 500;
	line-height: 30px;
	margin-left: 20px;
}
.guidedes1 ul{
	list-style-type: circle;

}
.guidedes1 span{
	font-size: 1.8rem;
	font-family: 'poppins', sans-serif;
	font-weight: 300;
}
.button{
	cursor:pointer; 
	clear:both;  
	border-radius: 15px;
    padding:20px 60px; 
    display:inline-block; 
    margin:0 20px; 
    transition:all 0.8s, color 0.3s 0.3s; 
    background: transparent; 
    color:#333;
	font-family: 'poppins', sans-serif;
	font-weight: 700;
	margin-left: 42%;
  margin-top: 5%;
	margin-bottom: 30px;
}
.button:hover{
	background-color: #ccc;
	color: #444;
	box-shadow: 300px 0 0 0  rgba(0,0,0,0.25) inset, -300px 0 0 0  rgba(0,0,0,0.25) inset;
}
img{
	height: auto;
	width: auto;
	transform: rotate(-90deg);
	margin-left: 30%;

}


.wrapper{
     display: flex;
     /*justify-content: center;*/
     flex-wrap: wrap;
}
 .card1{
     width: 570px;
     min-height: 300px;
     background: #fff;
     padding: 30px;
     border-radius: 10px;
     border: #fcab75 2px solid;
     box-sizing: border-box;
     font-family: 'poppins', sans-serif;
    /*color: #FFF;*/
     margin:20px;
    /* box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;*/
}

.card1 a{
    display: inline-block; 
}

 
/* .card:nth-child(2){
    background: #fcab75;
}*/
 .card1:last-child{
    background: #fff;
    border: #86b7f1 2px solid;
}

 .card1-title{
     margin-top: 0;
     font-size: 18px;
     font-weight: 600;
     letter-spacing: 1.2px;
     overflow: hidden;
}
}
 .card1-content{
     font-size: 13px;
     letter-spacing: 0.5px;
     line-height: 1.5;
}

.card1-content span{
	font-size: 20px !important;
	color: #ab6666;
}

.lft{
	margin-top: 5%;
}


 .card1-btn{
     all: unset;
     display: block;
     margin-left: auto;
     background: #fcab75;
     padding: 10px 15px;
     border-radius: 25px;
     font-size: 10px;
     font-weight: 600;
     transition: all 0.5s;
     cursor: pointer;
     letter-spacing: 1.2px;
     color: #000 !important;
}
 .card1-btn:hover{
    background: :#fcab75;
    color: #FFF !important;
}
/* .card1:nth-child(2) .card1-btn:hover{
    color:#fcab75;
    background: #FFF;
}*/

   .card1:last-child .card1-btn{
    background: #86b7f1;
}

 .card1:last-child .card1-btn:hover{
    background:#86b7f1;
    color: #FFF;
}

/*///////////////////FAQ///////////////////*/



.faq-section {
    background: #fdfdfd;
    /*min-height: 100vh;*/
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
}
/*.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 3px;
    background: #E91E63;
	top: -1px; 
    margin-left: -30px;
}*/
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px solid #ccc;
   box-shadow: rgb(50 50 93 / 25%) 0px 0px 0px 0px, rgb(0 0 0 / 30%) 0px 3px 15px -8px;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #E91E63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;

}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}